PORT=3000

# Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_NAME=calculadora_db
DB_USER=postgres
DB_PASSWORD=postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/calculadora_db?schema=public"

# Autenticação JWT
JWT_SECRET=sua_chave_secreta_jwt_aqui
JWT_EXPIRES_IN=1h

# Envio de E-mails (Mailtrap ou outro SMTP)
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=seu_usuario_mailtrap
MAILTRAP_PASS=sua_senha_mailtrap
