PORT=3000

# Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_NAME=calculadora
DB_USER=calculadora_api
DB_PASSWORD=123
DATABASE_URL="postgresql://calculadora_api:123@localhost:5432/calculadora?schema=calculadora_schema"

# Autenticação JWT
JWT_SECRET=sua_chave_secreta_jwt_aqui
JWT_EXPIRES_IN=1h

# Envio de E-mails (Mailtrap ou outro SMTP)
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=seu_usuario_mailtrap
MAILTRAP_PASS=sua_senha_mailtrap
